@import "main/editor.css";
@import "main/filename.css";
@import "main/misc.css";
@import "main/properties.css";
@import "main/tables.css";
@import "main/tabs.css";

.system-main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr var(--tabs-width);
  grid-template-rows: minmax(0, 1fr);
  margin-left: 3em;
}

.system-main .system-section {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
}

.system-main .system-section:first-child {
  border-right: 1px solid var(--gray);
}
