.header p {
  margin: 1rem 0 0;
  text-align: justify;
  font-weight: 500;
  color: #fff;
  font-style: italic;
}

.header p a {
  color: inherit;
  text-decoration: underline;
}

.header p code {
  font-style: normal;
}

@media (min-width: 34.25rem) {
  .header p {
    font-size: 1.0625em;
  }
}

@media (min-width: 49.125rem) {
  .header p {
    margin-left: 2rem;
    margin-right: 5rem;
  }
}

@media (min-width: 64rem) {
  .header p {
    margin: 1.5rem 0 0;
    font-size: 1.125em;
    margin-left: 4rem;
    margin-right: 8rem;
  }
}
