.header h1 {
  font-size: 1.7em;
  margin: 0;
  color: var(--red);
}

.header .title {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.header .title h1 {
  flex: 1;
}

.header .title select {
  margin-left: 0.5em;
}
